#info{
    background-color: aqua;
    border-radius: 20px;
    margin-top: 17%; 
}
.image img{
    border-radius: 20px;
    border: solid 2px red;
    left: 250px;
    top: 270px;
    height: 130px; 
    width: 100px;
    position: absolute;
}
h1{
    font-size: 20px;
    text-align: center;
}
p{
    font-size: 16px;
}
body {
    background-image: url("https://i.redd.it/93q100ncp2h61.jpg");

}
#info {
    border: 5px solid #FFFF00;
    text-align: center;